<!DOCTYPE html>
<html>
    <head>
        <title>My Portfolio</title>
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous" 
        />
    </head>
    <body>
        <div id="navbar-container"></div>

        
        <main class = "container mt-4">
            <h1 class = "display-1"> My Hobbies</h1>
            <br></br>
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../Resources/Images/rock-climbing.jpg" class="d-flex w-100 h-50 align-middle" alt="...">
                        <div class="carousel-caption d-block bg-white bg-opacity-50 rounded">
                            <h5>Rock Climbing </h5>
                            <p> I started rock climbing last year with the villanova rock climbing club.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="../Resources/Images/swim.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block bg-white bg-opacity-50 rounded">
                            <h5>Swimming</h5>
                            <p>I've been swimming since the third grade.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="../Resources/Images/crochet.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block bg-white bg-opacity-50 rounded">
                            <h5>Crocheting</h5>
                            <p>This is a jellyfish I made for my sister.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../Resources/Images/plant.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block bg-white bg-opacity-50 rounded">
                            <h5>Plant Keeping</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </main>

        <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous" 
        ></script> 
        <script src="../resources/js/navbar.js"></script>  
        <script>  
            loadNavbar();  // Call the function to load the navbar  
        </script> 
    </body>